@model DisSagligiTakip.ViewModels.RandevuDetayViewModel
@{
    ViewData["Title"] = "Randevu Detay";
}
<h2>Randevu Detay</h2>
<hr />
<dl class="row">
    <dt class="col-sm-3">Hasta</dt>
    <dd class="col-sm-9">@Model.HastaAd</dd>
    <dt class="col-sm-3">Hekim</dt>
    <dd class="col-sm-9">@Model.HekimAd</dd>
    <dt class="col-sm-3">Başlangıç</dt>
    <dd class="col-sm-9">@Model.Baslangic:dd.MM.yyyy HH:mm</dd>
    <dt class="col-sm-3">Bitiş</dt>
    <dd class="col-sm-9">@Model.Bitis:dd.MM.yyyy HH:mm</dd>
    <dt class="col-sm-3">Durum</dt>
    <dd class="col-sm-9">@Model.Durum</dd>
    <dt class="col-sm-3">Konum</dt>
    <dd class="col-sm-9">@Model.Konum</dd>
    <dt class="col-sm-3">Açıklama</dt>
    <dd class="col-sm-9">@Model.Aciklama</dd>
</dl>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Düzenle</a>
<a asp-action="Index" class="btn btn-outline-secondary">Geri</a>
